@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Colors */
  --primary-color: #2779a7;
  --secondary-color: #181c39;
  --base-color-01: #1e1a1c;

  /* Shadow */
  --shadow-01: 0 1px 10px #0003;
  --shadow-02:
    rgba(71, 103, 136, 0.04) 0px 4px 5px 0px,
    rgba(71, 103, 136, 0.03) 0px 4px 10px 0px,
    rgba(71, 103, 136, 0.05) 0px 10px 20px 0px;
  --shadow-03:
    rgba(71, 103, 136, 0.04) 0px 4px 5px 0px,
    rgba(71, 103, 136, 0.03) 0px 8px 15px 0px,
    rgba(71, 103, 136, 0.08) 0px 30px 50px 0px;
  --shadow-04:
    rgba(0, 0, 0, 0.18) -0.48175px 0.421531px 0.640134px -1.25px,
    rgba(0, 0, 0, 0.16) -1.83083px 1.60197px 2.43274px -2.5px,
    rgba(0, 0, 0, 0.063) -8px 7px 10.6301px -3.75px;
  --shadow-05: 0px 24px 25px rgba(0, 0, 0, 0.15);
  --shadow-06: 0px 74px 36px rgba(10, 31, 77, 0.16);
  --shadow-07:
    rgba(0, 0, 0, 0.09) 0px 1.34368px 0.537473px -0.625px,
    rgba(0, 0, 0, 0.086) 0px 3.18477px 1.27391px -1.25px,
    rgba(0, 0, 0, 0.082) 0px 5.80935px 2.32374px -1.875px,
    rgba(0, 0, 0, 0.08) 0px 9.65802px 3.86321px -2.5px,
    rgba(0, 0, 0, 0.07) 0px 15.5969px 6.23877px -3.125px,
    rgba(0, 0, 0, 0.063) 0px 25.5306px 10.2122px -3.75px,
    rgba(0, 0, 0, 0.04) 0px 43.962px 17.5848px -4.375px,
    rgba(0, 0, 0, 0) 0px 80px 32px -5px;

  /* Responsive Breakpoints */
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1150px;
  --breakpoint-2xl: 1280px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-outfit), sans-serif;
  line-height: 2.4rem;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: auto !important; /* let Lenis handle it */
  overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-ibm), sans-serif;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin-inline: auto;
}

.ibm-font {
  font-family: var(--font-ibm), sans-serif;
}

.bg-dot {
  background-image: url(/images/dot.svg);
  background-position: center;
  background-repeat: repeat;
}

.swiper {
  width: 100%;
  height: 100%;
}

.launch-slider {
  overflow: visible !important;
}

.launch-slider .swiper-slide {
  height: auto;
}

.big-logo {
  mask-image: linear-gradient(
    rgb(0, 0, 0) 15%,
    rgba(0, 0, 0, 0) 95%,
    rgba(0, 0, 0, 0) 100%
  );
  user-select: none;
  overflow: hidden;
}
